@use '@angular/material' as mat;

@include mat.theme((
  color: mat.$azure-palette,
  typography: Roboto,
  density: 0
));

@theme {
  --color-primary: var(--mat-sys-primary);
  --color-on-primary: var(--mat-sys-on-primary);
  --color-secondary: var(--mat-sys-secondary);
  --color-on-secondary: var(--mat-sys-on-secondary);
}

@import "tailwindcss";

html {
  color-scheme: light dark;
}

html, body { height: 100%; }
body { margin: 0; }
